@model IEnumerable<TheWorld.Models.Trip>
@{
  ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome To The World</h1>
        <p>This app will Allow You to plan for World Trips</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>

</div>
